<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="index :: navigation-main"> </div>

<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
</ul>
<h2 th:text="#{error.access-denied}">Access Denied</h2>
</body>
</html>
